body {
  font-family: sans-serif;
}

header {
  box-sizing: border-box;
  left: 50%;
  margin-left: -300px;
  margin-top: 50px;
  position: relative;
  width: 600px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  text-align: center;
}

button {
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  position: relative;
}

.form-buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 50px;
}

#add-button {
  background: #dbf3fa;
  color: black;
  left: 60px;
  margin-bottom: 40px;
  padding: 20px;
}

#tag-button {
  background: #32612d;
  display: inline-block;
  margin-left: 5px;
  width: 120px;
}

input {
  box-sizing: border-box;
  padding: 7px;
}

#search {
  float: right;
  position: relative;
  top: 10px;
  left: 50px;
  width: 250px;
}

#search-message {
  color: rgba(169, 169, 169, .8);
  font-size: 2.5rem;
  left: 200px;
  position: absolute;
  top: 50%;
  z-index: 2;
}

ul {
  box-sizing: border-box;
  display: grid;
  position: relative;
  width: 100%;
}

#tag-form {
  display: flex;
  justify-content: center;
}

#tag-list {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: minmax(auto, 2.5rem);
  list-style: none;
  margin-top: 30px;
}

#tag-list li {
  background: #d3d3d3;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
}

.selected {
  border: solid 5px #ed820e;
  line-height: .5rem;
}

main {
  box-sizing: border-box;
  padding: 30px 100px;
}

#contact-list {
  gap: 20px;
  grid-template-columns: repeat(4, minmax(auto, 200px));
  justify-content: center;
  list-style: none;
}

#contact-list li {
  border: solid 1px grey;
  border-radius: 20px;
  overflow: auto;
  padding: 0 10px;
  word-wrap: break-word;
}

.delete,
.edit {
  color: black;
  margin: 0 10px 10px 10px;
  left: 2px;
}

h2,
h3 {
  text-align: center;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 8px;
  
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.show {
  opacity: 1;
  visibility: visible;
}

#overlay {
  background-color: rgba(0, 0, 0, .2);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 1s, visibility 1s;
  width: 100%;
  z-index: 1;
}

#contact-form {
  background-color: white;
  border-radius: 30px;
  bottom: 30%;
  box-sizing: border-box;
  left: 50%;
  margin-left: -250px;
  padding: 20px;
  position: fixed;
  transition: opacity .8s, visibility .8s;
  width: 500px;
  z-index: 2;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

form dl {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 2rem;
}

form dt, form dd {
  box-sizing: border-box;
  display: inline-block;
}

form dt {
  flex: 1;
  margin-right: 20px;
  text-align: right;
}

form dd {
  flex: 2;
}

#contact-form input {
  width: 100%;
}

#submit {
  background: green;
}

#cancel {
  background: red;
}
